<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{{ asset('CSS/bootstrap.min.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('CSS/styles.css') }}" rel="stylesheet">
</head>
<body>
{% include("partials/navbar.html.twig") %}
{% block body %}{% endblock %}

<!-- Bootstrap JS -->
<script src="{{ asset('JS/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ asset('JS/popper.min.js') }}"></script>
<script src="{{ asset('JS/bootstrap.min.js') }}"></script>

{% block javascripts %}{% endblock %}
<script src="{{ asset('JS/script.js') }}"></script>
</body>
</html>
