{% extends 'base.html.twig' %}

{% block title %}La liste des articles{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-5">Liste des articles</h1>

        <div class="row">
            {% for  article in articles %}
                <div class="col-md-5 offset-1">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-0">{{ article.titre }}</h5>
                            <img class="image_article" src="{{ asset('uploads/images/featured/' ~ article.image) }}"
                                 class="mr-3"
                                 alt="">
                            <small>
                                <p>Publié le {{ article.createdAt | date('d/m/Y à H\\Hi') }}
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    {{ article.commentaire | length }} commentaires
                                </p>
                            </small>
                            <p>{{ article.contenu | raw }}</p>
                            <a class="btn btn-outline-dark btn-sm mb-5"
                               href="{{ path('actualites_article', {'slug': article.slug}) }}" role="button">Lire
                                l'article</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <p class="m-5"> {{ user_connectee }} </p>
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}
